@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.logo {
    text-align: center;
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.movie{
    width: 30%;
    margin: 5% 0% 9% 35%;
    
}
div > p {
    color: black;
    width: 40%;
    margin-left: 30%;
    font-family: 'Ubuntu', sans-serif;
}

div > h1 {
    color: black;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
}

div > img {
    width: 20em;
    height: 30em;
}

body {
    background-image: url(images/bg.jpg);
    background-repeat: repeat;

}

div {
    text-align: center;
    margin-top: 2em;
    background: rgba(250, 235, 218, 0.9);
    /*background-image: url(images/gha.jpg);
    background-repeat: repeat-x;*/
    padding: 1em;
}

header {
    border-bottom: solid 3px orange;
    padding: 0.1em;

}


header>h1{
    font-size: 1.5em;
}

#h3{
    position: absolute;
    margin-top: 2em;
    margin-left: 1em;
    font-family: 'Ubuntu', sans-serif;
}

button {
    width: 20%;
    height: 5em;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-left: 30%;
    background-color: orange;
    border: 0;
    color: none;;

}

.button{
    margin-left: 0%;
}

button:hover{
    background-color: white;
}

section > img {
    width: 20em;
    height: 30em;
    margin-bottom: 1em;

}

h1 {
    color: white;

}

section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 5em;
}

h2 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: 5em;
    padding-top: 2em;
    width: 100%;
    border-top: 1px solid black;
}

.divje1{
    display: none;
}

.h3tje{
    display: none;
}